
    *{ 
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
    }
    .col-12{ width: 100%;}
    .col-6{ width: 50%;}
    
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .main_header{
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        position: fixed;
        background-color: white;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        box-shadow:0 2px 5px #ccc;
        z-index: 2;
        box-sizing: border-box;
    }
    .logo{
        width: 40px;
        margin: 0 5px;
    }
    .logo img{
        width: 100%;
        vertical-align: middle;
    }
    #menu_switch{
        display: none;
    }
    .main_nav{
        display: none;
        position: absolute;
        width: 100%;
        background-color: white;
        left: 0;
        top: 100%;
    }
    .main_nav a{
        display: block;
        font-size: 12px;
        padding: 20px;
        color: black;
        text-decoration: none;
    }
    #menu_switch:checked + .main_header .main_nav {
        display: block;
    }
    .hb{
        width: 40px;
        height: 40px;
        margin: 0 5px;
        background-color: white;
        position: relative;
    }
    .hb span{
        width: 50%;
        height: 2px;
        background-color: black;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        rotate: 0deg;
    }
    .hb span:nth-child(1){
        top: 12px;
        transition: top .5s .5s, rotate .5s;
    }
    .hb span:nth-child(2){
        top: 18px;
    }
    .hb span:nth-child(3){
        top: 24px;
        transition: top .5s .5s, rotate .5s;
    }
    #menu_switch:checked + .main_header .hb span:nth-child(1){
        top: 18px;
        rotate: 45deg;
        transition: top .5s, rotate .5s .5s;
    }
    #menu_switch:checked + .main_header .hb span:nth-child(2){
        display: none;
    }
    #menu_switch:checked + .main_header .hb span:nth-child(3){
        top: 18px;
        rotate: -45deg;
        transition: top .5s, rotate .5s .5s;
    }
    
    @media screen and (min-width:768px){
        .col-md-3{ width: 25%;}
        .main_header{
            padding: 10px 20px;
            box-shadow: none;
        }
        .logo{
            width: 56px;
        }
        .hb{
            display: none;
        }
        .main_nav {
            position: relative;
            width: auto;
            display: block;
        }
        .main_nav a{
            font-size: 16px;
            display: inline-block;
            padding: 13px 20px;
        }

    }
    @media screen and (min-width: 1200px ){
        .main_nav a{
            font-size: 20px;
        }
    }
    .canvas {
        width: 85vw;
        /* padding: 100px 0 20px; */
        margin: auto;
        position: relative;
        z-index: 1;
    }
    .separate_block{
        width: 100%;
        display: inline-block;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding: 15px 0;
    }
    .separate_block_title{
        font-size: 18px;    
    }
    @media screen and (min-width: 1024px ){
        .separate_block{
            padding: 30px 0;
        }
        .separate_block_title{
            font-size: 20px;
        }
    }
    @media screen and (min-width: 1200px ){
        .separate_block_title{
            font-size: 30px;
        }
    }
    
    .cloth{
        background-color: black;
        margin: 50px 0 0;
    }
    .footer{
        width: 85vw;
        margin: auto;
    }
    .footer_card{
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
    }
    .footer_card p:first-child{
        font-size: 20px;
    }
    .footer_card p{
        color: white;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 900;
        text-align: center;
        width: 100%;
        padding: 2% 5%;
    }
    .footer_font{
        display: flex;
        justify-content: center;
    }
    .footer_icon{
        width: 32px;
        height: 32px;
        margin: 10px;
        text-align: center;
    }
    .footer_icon a{
        color: white;
    }
    .footer_right{
        padding: 5%;
        text-align: center;
        font-size: 12px;
        color: #646262;
    }
    
    @media screen and (min-width: 768px ){
        .footer{
            width: 85vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 110px auto 0px;
        }
        .footer_card p:first-child{
            font-size: 48px;
        }
        .footer_card p{
            font-size: 20px;
        }
        .footer_right{
            font-size: 14px;
        }
    }
    
